main {
  font-family: helvetica;
}

#category {
  margin-top: 100px;
}

#activeCategory {
  text-align: center;
  font-size: 50px;
}

#cartButton {
  margin-left: 75%;
}

#cartCard {
  margin-left: 85%;
}

#cartCardProducts {
  margin-left: 85%;
}

#productDetails{
  margin-top: 100px;
}

#productDetailsTitle {
  text-align: center;
  font-size: 50px;
}

#shoppingCart {
  margin-top: 100px;
}

footer {
  text-align: center;
}